<%- include ("_header"); %>

<h1>Rolling Dice</h1>
<fieldset>
    <legend>Feeling lucky? Roll the die to see</legend>
    <button id="addItem">Click to roll die</button>
</fieldset>
    <legend>Did you get lucky?</legend>
    <p id="list"></p>
</fieldset>

<%- include ("_footer"); %>